In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 12.8 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 7.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://fatina:hatsunemiku@bigdata.nj5wa.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672ab58e7f5d5da1bab27945'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672ab58e7f5d5da1bab27946'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672ab58e7f5d5da1bab27945'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672ab58e7f5d5da1bab27946'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Computer Science', 'max_enrollment': 25}

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672ab58e7f5d5da1bab27945'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672ab58e7f5d5da1bab27946'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672ab58e7f5d5da1bab27947'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672ab58e7f5d5da1bab27948'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672ab58e7f5d5da1bab27945'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672ab58e7f5d5da1bab27946'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672ab58e7f5d5da1bab27947'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672ab58e7f5d5da1bab27948'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

In [ ]:
#homework1
pipeline = [
    {"$group": {"_id": "$department", "course_count": {"$sum": 1}}}
]

result = courses_collection.aggregate(pipeline)
print("Courses per department:")
for doc in result:
    print(doc)

Courses per department:
{'_id': 'Mathematics', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'History', 'course_count': 1}
{'_id': 'Physics', 'course_count': 1}

In [ ]:
# homework2
pipeline = [
    {"$match": {"department": "Computer Science", "enrollments": {"$gt": 25}}},
    {"$group": {"_id": "$department", "courses": {"$push": "$course"}}}
]

result = courses_collection.aggregate(pipeline)
print("Computer Science courses with enrollments over 25:")
for doc in result:
    print(doc)

Computer Science courses with enrollments over 25:

In [ ]:
from pymongo import MongoClient, InsertOne

# Menghubungkan ke MongoDB Atlas
client = MongoClient('mongodb+srv://fatina:hatsunemiku@bigdata.nj5wa.mongodb.net/')
db = client['university_db']
students_collection = db['students']

# Menambahkan 5 dokumen ke dalam koleksi `students`
operations = [
    InsertOne({"_id": "student1", "name": "Sugarcup", "email": "sugar@example.com", "major": "Mathematics"}),
    InsertOne({"_id": "student2", "name": "Tear Drop", "email": "drop@example.com", "major": "Computer Science"}),
    InsertOne({"_id": "student3", "name": "Rainbow milky", "email": "milku@example.com", "major": "History"}),
    InsertOne({"_id": "student4", "name": "Dyana", "email": "dyana@example.com", "major": "Physics"}),
    InsertOne({"_id": "student5", "name": "Sylveon", "email": "syl@example.com", "major": "Mathematics"})
]

# Menjalankan operasi bulk insert
students_collection.bulk_write(operations)
print("Students inserted successfully.")

Students inserted successfully.

In [ ]:
from pymongo import MongoClient, UpdateOne

# Menghubungkan ke MongoDB Atlas
client = MongoClient('mongodb+srv://fatina:hatsunemiku@bigdata.nj5wa.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Menambahkan `enrollment_ids` ke dokumen di koleksi `courses`
operations = [
    UpdateOne(
        {"course": "Math 101"},
        {"$set": {"enrollment_ids": ["student1", "student5"]}}
    ),
    UpdateOne(
        {"course": "CS 102"},
        {"$set": {"enrollment_ids": ["student2"]}}
    ),
    UpdateOne(
        {"course": "History 201"},
        {"$set": {"enrollment_ids": ["student3"]}}
    ),
    UpdateOne(
        {"course": "Physics 202"},
        {"$set": {"enrollment_ids": ["student4"]}}
    )
]

# Menjalankan operasi bulk update
courses_collection.bulk_write(operations)
print("Enrollment IDs added to courses successfully.")

Enrollment IDs added to courses successfully.

In [ ]:
# homework3
pipeline = [
    {
        "$lookup": {
            "from": "students",  # Name of the collection to join
            "localField": "enrollment_ids",  # Field in `courses` collection
            "foreignField": "_id",  # Field in `students` collection
            "as": "student_details"  # Output array field in the results
        }
    }
]

result = courses_collection.aggregate(pipeline)
print("Courses with student enrollment details:")
for doc in result:
    print(doc)

Courses with student enrollment details:
{'_id': ObjectId('672ab58e7f5d5da1bab27945'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_ids': ['student1', 'student5'], 'student_details': [{'_id': 'student5', 'name': 'Sylveon', 'email': 'syl@example.com', 'major': 'Mathematics'}, {'_id': 'student1', 'name': 'Sugarcup', 'email': 'sugar@example.com', 'major': 'Mathematics'}]}
{'_id': ObjectId('672ab58e7f5d5da1bab27946'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_ids': ['student2'], 'student_details': [{'_id': 'student2', 'name': 'Tear Drop', 'email': 'drop@example.com', 'major': 'Computer Science'}]}
{'_id': ObjectId('672ab58e7f5d5da1bab27947'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_ids': ['student3'], 'student_details': [{'_id': 'student3', 'name': 'Rainbow milky', 'email': 'milku@example.com', 'major': 'History'}]}
{'_id': ObjectId('672ab58e7f5d5da1bab27948'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_ids': ['student4'], 'student_details': [{'_id': 'student4', 'name': 'Dyana', 'email': 'dyana@example.com', 'major': 'Physics'}]}